a {
    color:black;
    font-size:1.1em;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

body{
    font-family:monospace;
    background-color: white;
}

#top-footer{
    font-size:1.5em;
}

#google-logo-id{
    max-width: 35em;
    border-radius: 10em;
}

#user-icon-id{
    border-radius: 50%;
}